<li class="nav-profile">
	<div class="image">
		<a href="javascript:;"><img src="../admin/assets/img/user-13.jpg" alt=""  class="foto-avatar-usuario" /></a>
	</div>
	<div class="info">
		<span class="nome-usuario">Sean Ngu</span>
		<small class="profissao-usuario">Front end developer</small>
	</div>
</li>

<script>
	$(".foto-avatar-usuario").attr("src", foto_usuario());
	$(".nome-usuario").html(getUsuarioDaSessao());

</script>